[build]
builder = "NIXPACKS"
buildCommand = "cp ../../prisma/schema.prisma ./schema.prisma && npm install && npx prisma generate --schema=./schema.prisma && npx tsc"

[deploy]
startCommand = "node dist/index.js"
healthcheckPath = "/health"
healthcheckTimeout = 30
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
